@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DSEG14Classic-Regular";
    src: url("/DSEG14Classic-Regular.ttf");
    src: url("/DSEG14Classic-Regular.woff") format("woff"),
        url("/DSEG14Classic-Regular.woff2") format("woff2");
}
